body {
  width: 100%;
}
h1 {
  text-align: center;
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
  max-width: 1110px;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
.main div {
  width: 33%;
  justify-content: space-between;
}
div.container {
  background-color: rgb(70, 63, 63);
  color: white;
  width: 100%;
}
img {
  width: 100%;
  max-width: 370px;
}
