.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body{
    background-image: url(../images/del.jpg);
}
.main{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.firsteleven{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.firsteleven div{
    float: left;
    width: 30%;
    margin-right: 5px;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}
.firsteleven div img{
    width: 100%;
}
.reserves div{
    float: left;
    width: 25%;
    border-top: solid 5px red;
    padding-top: 10px;
    text-align: center;
}
.reserves div img{
    width: 90%;
}
header {
    max-width: 1200px;
    width:100%;
    height: 100px;
    margin : 0 auto;
    position: relative;
}
.logo{
    width: 100px;
    height: 100px;
}
.redtext {
    color:red;
}
.whitetext {
    color:white;
}
h1{
    margin: 0 auto;
    text-align: center;
    font-size: 5em;
    position: absolute;
    left: 28%;
    top: 0%;
}
.pehari{
    position: absolute;
    right: 0%;
    top: 0%;
}
.player p {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
}