* {
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
}
// .card{
//     width: 24%;
//     margin-top: 50px;
//     margin-right: 3px;
//     border: solid 5px gray;
//     border-radius: 10px;
// }
img{
    border-radius: 15px 15px 0px 0px;
    width: 255px;
    height: 255px;
}
p{
    background-color: rgb(109, 101, 101);
    width: 255px;
    height: 40px;
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    padding-top: 10px;
    border-radius: 0px 0px 10px 10px;
}
button{
    width: 200px;
    height: 30px;
    background-color: rgb(109, 101, 101);
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 10px;
}
.col{
    margin-bottom: 30px;
    align-items: center;
}