* {
    box-sizing: border-box;
}
#big{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
}
@font-face {
    font-family: 'RobotoMedium';
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: 'RobotoRegular';
    src: url(fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'RobotoLight';
    src: url(fonts/Roboto-Light.ttf);
}
header{
    position: relative;
}
.banner{
    width: 100%;
}
h3{
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 2;
    color: white;
    font-family: Roboto;
    
}
h3 span{
    color: orange;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding-left: 3px;
}
.firstul{
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    list-style-type: none;
    font-family: Roboto;
}
.firstul li{
    color: #fff;
    list-style-type: none;
    padding: 10px 15px;
    
}
a {
    text-decoration: none;
    color: #fff;
}
.text{
   position: absolute;
   left: 17px;
    top: 249px;
   color:white;
   font-size: 45px;
   width: 100%;
   font-family: RobotoLight;
  }
  .us{
      position: relative;
      left: 512px;
      font-family: RobotoLight;
  }
  .read{
      position: absolute;
      left: 511px;
      top: 391px;
      background-color: rgb(14, 68, 138);
      color: white;
      padding: 10px;
      border-radius: 15px;
      font-family: RobotoLight;
  }
  .first{
      width: 100%;
      display: flex;
      justify-content: space-around;
         
  }
  .first article{
     width: 20%;

  }
  .first article{
    font-family: RobotoMedium;
  }
  .secondimage{
      width: 100%;
  }
  #whoh2 {
    font-family: RobotoLight;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin: 5% 40% 3% 40%;
    text-align: center;
    position: relative;
    
}
#square {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid;
    transform: rotateZ(45deg);
    z-index: 1;
    position: absolute;
    top: 86%;
    left: 47%;
}
  .firsth4{
      color: rgb(33, 96, 189);
      font-family: RobotoLight;
  }
 .strelice li{
     list-style-image: url("images/arrow_bullet.png");
     margin-left: 0px;
     font-family: RobotoLight;
     

 }
 .second{
     display: flex;
     width: 100%;
 }
 .jenn {
     width: 30%;
     background-color: lightblue;
     margin-right: 5%;
     padding: 10px 10px;
 }
 .will {
    width: 30%;
    background-color: lightblue;
    margin-right: 5%;
    padding: 10px 10px;
}
.selena {
    width: 30%;
    background-color: lightblue;
    padding: 10px 10px;
}
.star{
    width: 60px;
    height: 15px;
}
.face{
  height: 70px;
  width: 70px;  
  border-radius: 50%;
  border: solid white 1px;
}

.ppl{
    display: flex;
}
.abc{
    padding-left: 30px;
}
.third{
      width: 100%;
    
  }
.naslov{
      display: flex;
  }
.prvi{
      width: 25%;
      background-color: lightgreen;
      height: 200px;
  }
  .drugi{
    width: 25%;
    background-color: rgba(255, 113, 113, 0.993);
    height: 200px;
}
.treci{
    width: 25%;
    background-color: rgb(93, 93, 255);
    height: 200px;
}
.cetvrti{
    width: 25%;
    height: 200px;
    background-color: lightskyblue;
}
.house{
    height: 200px;
    padding-left: 50px;
}
iframe{
    width: 100%;
    height: 300px;
}
footer{
    width:100%
  
}
form{
    width: 80%;
    margin: 0 auto;
}
textarea{
      width: 97%;
      margin-left: 15px
    }
.polja{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
   
}
input{
    padding: 10px 10px;
    width: 30%;
}
.sub{
    width: 100px;
    padding: 5px 5px;
    margin-top: 20px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-family: RobotoMedium;
    margin-left: 13px;
    margin-bottom: 10px;
    border: orange;
}
.contacth4{
    margin: 28px 4px 27px 97px;
    color: white;
    font-family: Roboto;
}
.contact{
    display: flex;
    margin: 10px 58px 10px 71px;

}
#mail{
    display: flex;
    margin: 12px 65px 1px 64px;
   
}
.tel {
    height: 20px;
    width: 20px;
    margin: auto;
}
.slikamail{
    width: 20px;
    height: 20px;
    margin: auto;
}
.tele{
  margin: auto;
  font-family: RobotoLight;
}
.textmail{
    font-family: RobotoLight;
}
.fb{
    height: 30px;
    width: 30px;
    margin: 10px 10px 10px 53px;
}
 .twit{
    height: 30px;
    width: 30px;
    margin: 10px 10px 10px 10px;
   
}
.insta{
    height: 30px;
    width: 30px;
    margin: 10px 10px 10px 10px;
}
.link{
    height: 30px;
    width: 30px;
    margin: 10px 10px 10px 10px;
}
.connect{
    font-family: Roboto;
    margin: 28px 4px 27px 97px;
    color: white;
}
.address{
    font-family: Roboto;
    margin: 28px 4px 27px 97px;
    color: white;
}
.add{
    margin: 41px 10px 10px 25px;
    font-family: RobotoLight;
}
.usa{
    margin-left: 86px;
    font-family: RobotoLight;
}
.boja{
    color: white;
    font-family: RobotoLight;
}
#footer {
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer-div ul {
    display: flex;
    padding-right: 10px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.footer-div {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media all and (max-width: 1200px) {
    .text {
        position: absolute;
        left: 57px;
        top: 209px;
    }
    .us {
        position: relative;
        left: 429px;
    }
    .read {
        position: absolute;
        left: 470px;
        top: 360px;
    }
    .contacth4 {
        margin: 33px 4px 27px 93px;
    }
    .slikamail {
        margin-left: -13px;
    }
}
.connect {
    margin: 27px 4px 27px 97px;
}
.address {
     margin: 28px 4px 27px 97px;
}
@media all and (max-width: 620px) {
    .text{
        position: absolute;
        left: 17px;
        top: 32px;
    }
    .read{
        
        position: absolute;
        left: 263px;
        top: 260px;
    }
    .us{
        position: relative;
        left: 264px;
    }
}
@media all and (max-width: 780px) {
    .text{
        position: absolute;
        left: 101px;
        top: 64px;
    }
    .read{
        
        position: absolute;
        left: 327px;
        top: 277px;
    }
    .us{
        position: relative;
        left: 236px;;
    }
    .tel{
        margin-left: -19px;
    }
    .slikamail{
        margin-left: -41px;
    }
    .textmail{
        margin-top: 0px;
    }
    .contacth4{
        margin: 28px 4px 27px 50px;
    }
    .connect{
        margin: 31px 4px 27px 43px;
    }
    .address{
        margin: 30px 4px 27px 60px;
    }
    @media all and (min-width: 781px){
    .text{
        position: absolute;
         left: 111px;
         top: 32px;
    }
    .read{
        position: absolute;
        left: 354px;
        top: 260px;
    }
    .contacth4 {
       margin: 28px 4px 27px 47px;
    }
    .tel {
        margin-left: -20px;
    }
    .slikamail {
        margin-left: -39px;
    }
    .textmail {
        margin-top: 0px;
    }
    .connect {
        margin: 28px 4px 27px 49px;
    }
    .address {
        margin: 28px 4px 27px 57px;
    }
}